
body {
  background-color: floralwhite;
  color: black;
  text-align: center;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Main container for a recipe page */
.recipes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.recipes h1{
  font-size: 2rem;
}
 
.recipes h3 {
  font-size: 1.25rem; 
}


/* Ingredient List */ 
.ingredients {
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  margin: 1rem 5%;
}

.ingredients ul{
  margin: 0 5%;
  padding: 0;
  list-style-type: none;
}

.ingredients li {
  margin: 0.5rem 0;
}

/* Directions List */
.directions {
  margin: 0 5%;
}

.directions ol {
  list-style-type: decimal;
  list-style-position: outside;
  text-align: left;
}

.directions li {
  text-align:left;
}

/* Main Container for the Recipe Index*/
.index {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.index ul {
  list-style-type: none; 
  padding: 0;
}

.index li {
  margin-top: .5rem;
}