{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">

      <!-- Logic to sort all available recipes by Title first, 
      before paginating. This means the final page listing will
      be correctly sorted alphabetically before generating the 
      entries for the current page. -->
      {{ $pageSlice := slice }}
      {{ range where .Pages.ByTitle "Type" "recipes"}}
        {{ $pageSlice = $pageSlice | append .Page}}
      {{ end }}
      
      <!-- Iterate over the resorted pages, Paginate command will
      limit the entries to match the configurated pagination limit-->
      {{ range (.Paginate $pageSlice).Pages}}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            Uploaded {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
